// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
#footer {
    height: 250px;
    background: black;
    text-align: center;
}