// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    background: rgba($brand-color, .8);
    z-index: $max-z;
    box-shadow: 0px 7px 10px $black-4;
    .nav-wrapper {
        line-height: 9rem;
        .brand-logo {
            position: relative;
            img {
                height: 12rem;
                max-width: 100%;
            }
        }
        li a {
            color: $white-1;
            font-size: 1.7rem;
            position: relative;
            transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:after {
                    content: "";
                    display: block;
                    width: 55%;
                    height: .3rem;
                    background: white;
                    margin: 0 auto;
                    opacity: 1;
                    transform: translateY(-3rem);
                    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
                }
                &:hover { 
                    transform: translateY(1rem);
                    background: none;
                    color: $white-4;
                    text-decoration: none;
                    &:after {
                        width: 100%;
                        transform: translateY(-1rem) scale(1.3);
                        background: $black-1;
                    }
            }
        }
    }
}

